[user]
	name = Balša Šarenac
	email = sarenac.balsa@proton.me
[alias]
	st = status
	br = branch
	graph = log --oneline --graph --decorate --all
	co = checkout
	ci = commit
	sw = switch
	swc = switch -c
    stat = status -sb
	last = log -1 HEAD
	unstage = reset HEAD --
    branches = "!sh -c \"git checkout $(git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs | pick | cut -f2)\""
    current = !git branch -r --merged | grep -q $1 && echo Incorporates $1 || echo Out of date from $1 && :
    recent = "for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'"
    recap = "log --all --oneline --no-merges --author=\"Balša Šarenac\""
	pf = push --force-with-lease
    dft = difftool
     dlog = "!f() { : git log ; GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
	lg = log --graph --oneline --decorate --all
	undo = reset HEAD~1 --mixed
	amend = commit --amend

[core]
	editor = nvim
[init]
	defaultbranch = trunk
[color]
	ui = auto
[pull]
	rebase = true
