[user]
	name = Balša Šarenac
	email = sarenac.balsa@proton.me
[alias]
	st = status
	br = branch
	graph = log --oneline --graph --decorate --all
	co = checkout
	ci = commit
	sw = switch
	swc = switch -c
    stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
    branches = "!sh -c \"git checkout $(git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs | pick | cut -f2)\""
    current = !git branch -r --merged | grep -q $1 && echo Incorporates $1 || echo Out of date from $1 && :
    recent = "for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'"
    recap = "log --all --oneline --no-merges --author=\"Balša Šarenac\""
	pf = push --force-with-lease

[core]
	editor = nvim
[init]
	defaultBranch = trunk
[color]
	ui = auto
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[difftool]
	prompt = false
